@import "../abstracts/variables";
@import "../abstracts/mixins";

.photo {
  position: relative;
}

.image {
  cursor: zoom-in;
  transition: filter 0.35s;
  -webkit-user-drag: none;

  &:hover,
  &:active {
    filter: grayscale(0.7) contrast(1.2);
  }
}

.skeleton {
  width: auto;
  height: 100%;
  background-color: $color-text-faded;
  object-fit: contain;
  animation: colorPulse 0.8s alternate infinite ease-in-out;
}

.hide {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

@keyframes colorPulse {
  0% {
    background-color: #eee;
  }
  25% {
    background-color: #ddd;
  }
  50% {
    background-color: #ccc;
  }
  75% {
    background-color: #bbb;
  }
  100% {
    background-color: #aaa;
  }
}
