@import "../abstracts/variables";
@import "../abstracts/mixins";

.photoDetail {
  @include flex-container(column, center, center, 20px);

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
