@import "../abstracts/variables";
@import "../abstracts/mixins";

.photoMax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  cursor: zoom-out;

  .skeleton {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $color-text-faded;
    object-fit: contain;
    animation: colorPulse 0.8s alternate infinite ease-in-out;
  }

  .compressIcon {
    position: fixed;
    top: 20px;
    right: 20px;
    color: $color-background;
    font-size: 1.6rem;
    opacity: 0;
    transition: opacity 0.35s;
  }

  .image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-bottom: -8px;

    @include respond-to(full) {
      height: 100%;
    }
  }

  .hide {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  .show {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
}

.photoMax:hover .compressIcon {
  opacity: 1;
}

@keyframes colorPulse {
  0% {
    background-color: #eee;
  }
  25% {
    background-color: #ddd;
  }
  50% {
    background-color: #ccc;
  }
  75% {
    background-color: #bbb;
  }
  100% {
    background-color: #aaa;
  }
}
