@import "../abstracts/variables";
@import "../abstracts/mixins";

body {
  font-family: "BlinkMacSystemFont", "San Francisco", "Helvetica Neue",
    "Helvetica", "Ubuntu", "Roboto", "Noto", "Segoe UI", "Arial", "sans-serif";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  color: $color-text;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
