@import "../abstracts/variables";
@import "../abstracts/mixins";

body {
  font-family: $font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  color: $color-text;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button,
input[type="submit"] {
  cursor: pointer;
}

form {
  @include flex-container(column, center);
  position: relative;
  width: 100%;
  min-height: 60px;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

h4 {
  font-size: 1.1rem;
  color: $color-text-small-faded;
}

hr {
  width: 100%;
  border: 0;
  border-bottom: 1px solid $color-text-faded;
}

input {
  width: 100%;
  height: 44px;
  padding-left: 40px;
  border-radius: 24px;
  border: 0;
  background-color: $color-demos-alt-background;
  font-family: $font;
  font-size: 14px;
  outline: none;
  -webkit-appearance: none;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  background-color: $color-demos-alt-background;
  font-family: $font;
  font-size: 14px;
  resize: none;
  outline: none;
  -webkit-appearance: none;
}
